# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

#webstorm specific stuff
.idea/

#config should not be shared on github
config.js
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
